{% extends 'base.html' %}

{% block content %}
    <h5 class="text-info">Lista de Contatos</h5>
    <a href="{% url 'contato_create' %}" class="btn btn-outline-success btn-sm">Novo Contato</a>

    <table class="table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
                <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.endereco}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.idade}}</td>
                    <td>
                        <a href="{% url 'contato_update' contato.id %}">Editar</a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center bg-warning">Sem Contatos no momento</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
