{% extends 'base.html' %}


{% block content %}
    <h5 class="text-info text-center">Confirmação para apagar registro</h5>
    <div class="container text-right">
        <a href="{% url 'lista_contatos' %}" class="btn bn-sm btn-outline-primary"> Voltar </a>
    </div>
    <div class="container text-center text-warning">
        <form method="post">{% csrf_token %}
            <h5>Tem certeza que quer apagar o registro de "{{ object }}"?</h5>
            <div class="text-right">
                <input class="btn btn-outline-danger" type="submit" value="Confirma">
            </div>
        </form>
    </div>
{% endblock %}
