{% extends 'base.html' %}
{% block title %} | Lista de Contatos {% endblock %}
{% block content %}
    <h5 class="text-info mt-3">Lista de Contatos</h5>
    <a href="{% url 'contato_create' %}" class="btn btn-outline-success btn-sm mb-3">
        <i class="fas fa-user-plus"></i>
        Novo Contato</a>
    <a href="{% url 'index' %}" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-home"></i> Início</a>

    <table class="table-striped table-bordered table-hover table-sm mb-3">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Editar</th>
                <th>Apagar</th>

            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
                <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.endereco}}</td>
                    <td>{{contato.telefone}}</td>
                    <td class="text-center">{{contato.idade}}</td>
                    <td class="text-center">
                        <a href="{% url 'contato_update' contato.id %}">
                            <i class="fas fa-user-edit text-warning"></i>
                            </a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'contato_delete' contato.id %}">
                            <i class="fas fa-user-minus text-danger"></i>
                            </a>
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center bg-warning">Sem Contatos no momento</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
