{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Olá, geek!</h1>
        <p class="lead">Este é um simples tutorial para mostrar como é simples montar um CRUD, usando o framework Django.</p>
        <hr class="my-4">
        <p>Nesse exemplo, vamos mostrar uma aplicação que faz a manutenção de uma lista de Contatos</p>
        <a class="btn btn-primary btn-lg" href="{% url 'lista_contatos' %}" role="button">Lista de Contatos</a>
    </div>
{% endblock %}
